body {
  background-color: lightgrey;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  div {
    border: 1px solid grey;
    text-align: center;
  }
}

.checked {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

[data-target="0"] {
  background-color: lightgoldenrodyellow;
}

[data-target="1"] {
  background-color: lightgreen;
}

[data-target="2"] {
  background-color: lightsalmon;
}