@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

// Colors
$color-green-main: #31C3BD;
$color-green-light: #65E9E4;
$color-yellow-main: #F2B137;
$color-yellow-light: #FFC860;
$color-dark-main: #1A2A33;
$color-dark-secondary: #1F3641;
$color-grey-main: #A8BFC9;
$color-grey-light: #DBE8ED;

body {
  background-color: $color-dark-main;
  font-family: 'Outfit', sans-serif;
  letter-spacing: 1px;
  padding: 0;
  margin: 0 24px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  .grid-item {
    display: flex;
    justify-content: center;
    text-align: center;
    background: $color-dark-secondary;
    color: #10212A;
    padding: 24px;
    border-radius: 10px;
    margin: 14px;
    box-shadow: 0 8px 0 0;
    -webkit-box-shadow: 0 8px 0 0;
    -moz-box-shadow: 0 8px 0 0;
  }
}

.checked {
  cursor: pointer;
  height: 32px;
  width: 32px;
  &:hover {
    opacity: 0.8;
  }
}

[data-target="0"] {
  background-image: none;
}

[data-target="1"] {
  background-image: url("../../../assets/images/icon-x.svg");
  background-size: 32px;
  background-repeat: no-repeat;
}

[data-target="2"] {
  background-image: url("../../../assets/images/icon-o.svg");
  background-size: 32px;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
  letter-spacing: 1px;
  border-radius: 15px;
  padding: 14px 0;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 8px 0 0;
  -webkit-box-shadow: 0 8px 0 0;
  -moz-box-shadow: 0 8px 0 0;
}