@use 'config';
@use 'min-1024';

#root {
    display: flex;
    justify-content: center;
}

.start-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.game-heading {
    display: flex;
    flex-direction: row;
    margin: 20px 20px 20px 20px;
    justify-content: space-between;
    .logo-heading {
        display: flex;
        align-items: center;
    }
    .restart-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 5px;
        background: config.$color-grey-main;
        color: #6B8997;
        box-shadow: 0 4px 0 0;
        -webkit-box-shadow: 0 4px 0 0;
        -moz-box-shadow: 0 4px 0 0;
        img {
            height: 16px;
            width: 16px;
        }
    }
    .player-turn {
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 9px 15px;
        background: config.$color-dark-secondary;
        color: #10212A;
        box-shadow: 0 4px 0 0;
        -webkit-box-shadow: 0 4px 0 0;
        -moz-box-shadow: 0 4px 0 0;
        span {
            font-size: 14px;
            font-weight: bold;
            color: config.$color-grey-light;
        }
        img {
            margin-right: 9px;
            width: 16px;
            height: 16px;
        }
    }
}

.game-board {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.pick-players {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: config.$color-dark-secondary;
    width: 100%;
    margin: 32px 0;
    padding: 24px;
    border-radius: 10px;
    .buttons {
        margin: 24px 0;
        background: config.$color-dark-main;
        width: inherit;
        border-radius: 15px;
        padding: 9px;
        box-sizing: border-box;
        button {
            padding: 0;
            background: none;
            border-radius: 10px;
            width: 50%;
            height: 54px;
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            &.selected {
                background: config.$color-grey-main;
            }
            img {
                margin-top: 4px;
                height: 32px;
                width: 32px;
            }
        }
    }
    span {
        font-weight: bold;
        font-size: 1rem;
        text-transform: uppercase;
        color: config.$color-grey-main;
        &.info {
            font-weight: normal;
            font-size: 14px;
            opacity: 0.5;
        }
    }
}

.choose-game {
    display: flex;
    flex-direction: column;
    width: 100%;
    .cpu {
        margin-bottom: 24px;
        background: config.$color-yellow-light;
        color: config.$color-yellow-main;
        span {
            color: config.$color-dark-main;
        }
    }
    .player {
        background: config.$color-green-light;
        color: config.$color-green-main;
        span {
            color: config.$color-dark-main;
        }
    }
}

.score-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    div {
        height: 64px;
        flex: 1;
        margin-right: 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &:last-child {
            margin-right: 0;
        }
        span {
            color: config.$color-dark-main;
            font-size: 12px;
            font-weight: bold;
            &.score {
                font-size: 20px;
            }
        }
    }
    .player_1_score {
        background: config.$color-green-main;
    }
    .player_ties {
        background: config.$color-grey-main;
    }
    .player_2_score {
        background: config.$color-yellow-main;
    }
}

.backplate {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-screen {
    background: config.$color-dark-secondary;
    width: 100%;
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    span {
        color: config.$color-grey-main;
        margin-bottom: 16px;
    }
    .takes-round {
        display: flex;
        align-items: center;
        font-size: 24px;
        margin-bottom: 24px;
        color: config.$color-grey-main;
        &.playerOne {
          color: config.$color-green-main;
        }
        &.playerTwo {
            color: config.$color-yellow-main;
        }
        img {
            height: 28px;
            width: 28px;
            margin-right: 9px;
        }
    }
    .round-buttons {
        button {
            padding: 16px;
            margin-right: 16px;
            border-radius: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
        span {
            color: config.$color-dark-secondary;
        }
        .quit {
            background: config.$color-grey-main;
            color: #6B8997;
        }
        .next-round {
            background: config.$color-yellow-main;
            color: #CC8B13;
        }
    }
}